<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/images/hamburger-solid.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat&family=Roboto&family=Sacramento&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/manage.css" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <!-- APP JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="/scripts/manage.js"></script>
    <script type="module" src="/scripts/user.js"></script>

    <title>Orders</title>
  </head>


  <body>
    <%- include('partials/_header') %>
    <main>
      <button id="toggleOrders" class="btn btn-light">Show/Hide Completed Orders</button>
      <section class="orders-container">
      </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Mark Complete</th>
              <th scope="col">Order</th>
              <th scope="col">Est Time:</th>
              <th scope="col">Order Date</th>
              <th scope="col">Completed</th>
            </tr>
          </thead>
          <tbody>
            <% let count = 0 %>
            <% let orderCount = orders.length %>
            <% let markCompleteCount = 0 %>
            <% for(let order in orders) { %>
              <% const id = orders[order]['id'] %>
              <tr class="tablerow" title="Click for Order Details">
                <div class="order">
                  <td class="order-ended">
                    <% if(orders[order]['end_date']) { %>
                      <i class="fas fa-check-circle" id="complete-check"></i>
                    <% } else { %>
                    <form action="/manage/<%= id %>" method="POST">
                      <button class = "mark-complete" class="btn btn-success"> Mark Complete!</button>
                    </form>
                    <% } %>
                  </td>
                  <td class="order-id"><%= orderCount %></td>
                  <td class = "order-time<%= count %>" id="order-time">
                    <% let timeSum = 0 %>
                    <% if(orders[order]['end_date']) { %>
                      <p>Done!</p>
                    <% } else { %>

                    <% if(orders[order]['time']) { %>
                      <p><%= orders[order]['time'] %> Minutes</p>
                    <% } else { %>

                      <% for(let item in items) { %>
                        <% if(items[item]['orderid'] === id) { %>
                          <% timeSum += (items[item]['time'] * items[item]['sum'])  %>
                        <% } %>
                      <% } %>
                      <p><%= timeSum %> Minutes</p>


                      <% } %>
                      <form class="form-inline" action="/manage/time/<%= id %>" method="POST">
                        <input
                        class="form-control"
                        style="width:7em"
                        type="text"
                        name="time"
                        placeholder="New Time: "
                        min="0"
                      />
                        <button class ="update-button" type=Submit>
                          Update
                        </button>
                      </form>
                    <% } %>
                  </td>
                  <% const start = String(orders[order]['start_date']) %>
                  <td class="order-start"><%= start.substring(0, 21) %></td>
                  <% if(orders[order]['end_date']) { %>
                    <% const end = String(orders[order]['end_date']) %>
                    <td class="order-end"><%= end.substring(0, 21) %></td>
                  <% } else { %>
                    <td class="order-not-end">Submitted-In Progress</td>
                  <% } %>
                  <div class = "order-items-sum">
              <td class = "order-details<%= count %>" id="order-items">
                <p class="font-weight-bold">Order Items:</p>
                <% for(let item in items) { %>
                  <% if(items[item]['orderid'] === id) { %>
                    <p> <%= items[item]['sum'] %>
                      x <%= items[item]['title'] %>
                    </p>
                  <% } %>
                <% } %>
              </td>
              <td class = "order-details<%= count %>" id="order-sum">
                <p class="font-weight-bold">Order Total:</p>
                <% let sum = 0 %>
                <% for(let item in items) { %>
                  <% if(items[item]['orderid'] === id) { %>
                    <% sum += (items[item]['price'] * items[item]['sum'])  %>
                  <% } %>
                <% } %>
                <% let tax = sum*.12 %>
                <% sum = tax+sum %>
                <% sum = sum.toFixed(2) %>
                <p>$<%= sum %></p>
              </td>
            </div>
              </tr>
              <% count ++ %>
              <% orderCount -- %>
            <% } %>
          </div>
          </tbody>
      </div>

    </main>
  </body>
</html>
